* {
    box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";
}

.sidebar {
    grid-area: sidebar;
}
